@import '../_variables.scss';

.intro {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @media (max-width: 991px) {
    padding-top: $base * 15;
    flex-direction: column;
  }

  &-wrapper {
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &-heading {
    color: $dark;
    font-size: $fs-xxl;
    font-weight: 600;
    background-position: center center;
  }

  &-motivation__item {
    font-weight: 600;
    position: relative;
    margin-left: $base * 5;

    &::before {
      content: '';
      display: block;
      // width: 8px;
      width: $base * 2;
      // height: 8px;
      height: $base * 2;
      background-color: $primary;
      position: absolute;
      // top: 14px;
      top: $base * 3.5;
      // left: -20px;
      left: -$base * 5;
    }
  }

  &-coach {
    display: flex;
    width: 200px;
    height: 200px;
    border: 5px solid #000;
    border-radius: 50%;
  }
}

@keyframes animated-button {
  from {
    transform: translateX(-1em) rotate(-45deg);
  }
  to {
    transform: translateX(18em) rotate(-45deg);
  }
}
