@import './functions.scss';

/* COMMON */
$base: rem(4px);
$animation-duration: 0.4s;

/* COLORS */
$primary: #1ca9ff;
$secondary: #fff;
$accent: #ffbd2a;
$light: #edf1f5;
$dark: #0d0f13;

/* FONTS */
$fs-xxs: 10px;
$fs-xs: 12px;
$fs-s: 14px;
$fs-m: 16px;
$fs-l: 18px;
$fs-xl: 24px;
$fs-xxl: 44px;
$fs-xxxl: 52px;
