@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import './_variables.scss';
@import './_reset.scss';

/* =COMPONENTS= */
@import './components/header.scss';
@import './components/intro.scss';
@import './components/reviews.scss';
@import './components/faq.scss';
@import './components/apply.scss';
/* =/COMPONENTS= */

// FIXME: Set font size for right adaptive
// html {
//   @media (max-width: 767px) {
//     font-size: 12px;
//   }
// }

body {
  position: relative;
  font-family: 'Open Sans', Arial, sans-serif;

  &.lock {
    @media (max-width: 767px) {
      overflow: hidden;
    }
  }
}

.section-heading {
  margin-bottom: 50px;
  color: $dark;
  font-size: $fs-xxxl;
  font-weight: 700;
  text-align: center;
}

.btn-apply {
  background-color: $accent;
  color: $dark;
  font-weight: 600;
  padding: $base * 2.5 $base * 10;
  position: relative;
  overflow: hidden;
  border: none;

  &::after {
    content: '';
    position: absolute;
    // top: 15px;
    top: $base * 4;
    // left: -50px;
    left: -$base * 12.5;
    width: 5em;
    height: 25%;
    background-color: $secondary;
    opacity: 0.6;
    transform: translateX(-1em) rotate(-45deg);
  }

  &:hover {
    background-color: $accent;

    &::after {
      animation: animated-button $animation-duration;
    }
  }
}

.main {
  background-color: $light;
  color: $dark;
  font-size: $fs-xl;
}

.footer {
  background: $dark;
  color: $secondary;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
