@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import './_variables.css';
@import './_reset.css';

/* =COMPONENTS= */
@import './_header.css';
/* =/COMPONENTS= */

body {
  position: relative;
  font-family: 'Open Sans', Arial, sans-serif;
}

.section-heading {
  margin-bottom: 50px;
  color: var(--text-primary-color);
  font-size: 52px;
  font-weight: 700;
  text-align: center;
}

.main {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-size: 24px;
}

.info {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 991px) {
  .info {
    padding-top: 60px;
    flex-direction: column;
  }
}

.info-wrapper {
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.info__heading {
  color: var(--text-primary-color);
  font-size: 44px;
  font-weight: 600;
  background-position: center center;
}

.info__motivation-item {
  font-weight: 600;
  position: relative;
  margin-left: 20px;
}

.info__motivation-item::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--primary-color);
  position: absolute;
  top: 14px;
  left: -20px;
}

.info__apply {
  background-color: var(--secondary-color);
  color: var(--text-primary-color);
  font-weight: 600;
  padding: 10px 40px;
  position: relative;
  overflow: hidden;
  border: none;
}

.info__apply::after {
  content: '';
  position: absolute;
  top: 15px;
  left: -50px;
  width: 5em;
  height: 25%;
  background-color: #fff;
  opacity: 0.6;
  transform: translateX(-1em) rotate(-45deg);
}

.info__apply:hover {
  background-color: var(--secondary-color);
}

.info__apply:hover::after {
  animation: animated-button var(--animation-duration);
}

@keyframes animated-button {
  from {
    transform: translateX(-1em) rotate(-45deg);
  }
  to {
    transform: translateX(18em) rotate(-45deg);
  }
}

.info-coach {
  display: flex;
  width: 200px;
  height: 200px;
  border: 5px solid #000;
  border-radius: 50%;
}

/* ================= REVIEWS ================ */
.reviews {
  padding: 100px 0 50px 0;
  background-color: var(--bg-secondary-color);
}

.carousel-item {
  padding-bottom: 100px;
}

.carousel-item p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.reviews__item {
  max-width: 50%;
  margin: 0 auto;
  color: var(--text-primary-color);
}

.reviews__item-author {
  font-size: 18px;
  line-height: 1.35;
  font-weight: 600;
  color: var(--text-primary-color);
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  /* Change default color of arrows and indicators from white to black */
  filter: invert(100%);
}

/* ================= /REVIEWS ================ */

/* ================= FAQ ================ */
.faq {
  padding: 100px 100px 150px 100px;
  position: relative;
}

.faq::before {
  content: '';
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 150px;
  left: 150px;
  border: 5px solid var(--primary-color);
  z-index: 1;
}

.faq::after {
  content: '';
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 250px;
  right: 150px;
  border: 5px solid var(--primary-color);
  z-index: 1;
}

.accordion-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.accordion {
  width: 40%;
  z-index: 9;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-header {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  color: var(--text-primary-color);
}

.accordion-body {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;
  color: var(--text-primary-color);
}
/* ================= /FAQ ================ */

/* ================= APPLY ================ */
.apply {
  padding: 100px 0 50px 0;
  background-color: var(--primary-color);
}

.apply__form {
  max-width: 30%;
  min-height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
  border-radius: 5%;
  background-color: var(--bg-secondary-color);
}

.apply__form label {
  font-size: 14px;
  font-weight: 700;
  color: var(--text-primary-color);
}
/* ================= /APPLY ================ */

/* ================= FOOTER ================ */
.footer {
  /* background: var(--text-primary-color); */
  background: #6fc2f5;
  color: var(--bg-secondary-color);
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
/* ================= /FOOTER ================ */
